
<h2 class="text-style">My Interests</h2>
<p class="f4 mb-4 text-style">Topics that I like and wanted to learn more about.</p>
<div class="d-flex flex-wrap gutter-condensed mb-4">
  {% for topic in site.topics %}
  <div class="col-6 col-md-12 col-lg-6 col-xl-4 mb-3">
    <a href="{{ topic.web_url }}" class="github-component position-relative hover-grow height-full no-underline d-flex flex-column flex-justify-center text-center border border-gray-light rounded-1 bg-white p-5">
      <img src="{{ topic.image_url }}" width="64" height="64" class="mx-auto rounded-1 mb-3" alt="{{ topic.name }}">
      <p class="f3 lh-condensed text-center link-gray-dark mb-0 mt-1">{{ topic.name }}</p>
      <p class="f5 text-gray text-center mb-0 mt-1">{{ topic.description }}</p>
    </a>
  </div>
  {% endfor %}
</div>
