
<div class="flex-self-stretch bg-gray-dark col-md-5 col-lg-4 col-xl-3 px-4 px-md-6 px-lg-7 py-6">
  <img src="{{ user.avatar_url }}" class="circle mb-3" alt="{{ user.login }}" style="max-width: 150px;">
  <h1 class="text-style mb-2 lh-condensed">{{ user.name }}</h1>
  <p class="text-style mb-3 f4">{{ user.bio }}</p>

  <div class="f4 mb-6">
    <div class="text-style d-flex flex-items-center mb-3">
      {% octicon mark-github height:20 class:"mr-2 v-align-middle" fill:{{ site.text_color }} aria-label:GitHub %}
      <a href="https://github.com/{{ user.login }}" class="text-style">@{{ user.login }}</a>
    </div>

    <div class="text-style d-flex flex-items-center mb-3">
      {% octicon mail height:20 class:"mr-2 v-align-middle" fill:{{ site.text_color }} aria-label:Email %}
      <a href="mailto:{{ user.email }}" class="text-style">{{ user.email }}</a>
    </div>

    <div class="text-style d-flex flex-items-center mb-3">
      {% octicon location height:20 class:"mr-2 v-align-middle" fill:{{ site.text_color }} aria-label:Location %}
      {{ user.location }}
    </div>

    <div class="d-flex flex-wrap flex-items-start">
      {% for account in site.social_media %}
      <div class="{% unless forloop.last == true %}mr-3 {% endunless %}mb-3">
        {% assign service_name = account[0] %}
        {% assign service = site.data.social_media[service_name] %}
        <a href="{{ service.profile_url_prefix }}{{ account[1] }}" class="tooltipped tooltipped-se" aria-label="{{ service.name }}: {{ account[1] }}">
          {{ service.icon_svg }}<span class="d-none">{{ service.name }}</span>
        </a>
      </div>
      {% endfor %}
    </div>
  </div>
</div>
