
@import 'bootstrap/bootstrap';

.main {
  padding-top: 32px;
  padding-bottom: 32px;
}

.header-pad {
  padding-left: 24px;
  padding-right: 24px;
}

@include media-breakpoint-up(sm) {
  .header-pad {
    padding-left: 64px;
    padding-right: 64px;
  }
}

@include media-breakpoint-up(md) {
  .header-pad {
    padding-left: 96px;
    padding-right: 96px;
  }
}

@include media-breakpoint-up(lg) {
  .header-pad {
    padding-left: 156px;
    padding-right: 156px;
  }
}
