
@import 'bootstrap/bootstrap';

.main {
  padding-top: 32px;
  padding-bottom: 32px;
}

$headerpad-sizes: (
  xs: 24px,
  sm: 64px,
  md: 96px,
  lg: 156px,
  xl: 200px,
);

@each $breakpoint in map-keys($grid-breakpoints) {
  @include media-breakpoint-up($breakpoint) {
    .headerpad {
      padding-left: #{map-get($headerpad-sizes, $breakpoint)};
      padding-right: #{map-get($headerpad-sizes, $breakpoint)};
    }
  }
}
