{% assign user = site.github.owner %}
<!DOCTYPE html>
<html dir="ltr" lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
  <meta name="keywords" content="{{ page.keywords }}">
  <meta name="theme-color" content="{{ site.style_color }}">
  <meta name="msapplication-TileColor" content="{{ site.style_color }}">

  <link href="/LICENSE.txt" rel="license">
  <link href="/site.webmanifest" rel="manifest">
  <link href="/assets/apple-touch-icon.png" rel="apple-touch-icon" sizes="180x180">
  <link href="/assets/favicon-32x32.png" rel="icon" type="image/png" sizes="32x32">
  <link href="/assets/favicon-16x16.png" rel="icon" type="image/png" sizes="16x16">
  <link href="/assets/safari-pinned-tab.svg" rel="mask-icon" color="{{ site.style_color }}">
  <link href="/assets/css/style.css?v={{ site.github.build_revision }}" rel="stylesheet">

  {% seo title=false %}

  <title>{{ page.title }}</title>
</head>

<body class="bg-style min-height-full">
  <div class="d-md-flex min-height-full border-md-bottom">
    {% include masthead.html %}
    {{ content }}
  </div>
</body>
</html>
